.notification {
    background-color: #dddddd;
    padding: 16px;
    margin-bottom: 24px;
}

.notification p {
    margin: 0 auto;
    text-align: center;
}

.order-status-link {
    color: #1B4B66;
}
